nav {
  background-color: rgb(83, 80, 81, 0.5);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}
ul {
  list-style: none;
  display: flex;
  gap: 10px;
  font-size: 1.5em;
  padding: 5px;
  gap: 50px;
}
li {
  display: flex;
  align-items: center;
  position: relative;
  width: 70px;
  height: 40px;
  overflow: hidden;
}

li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(253, 88, 187, 0.5);
  transition: left 0.3s ease-in-out;
}

li:hover::before {
  border-left: 5px solid;
  left: 0;
}

li:hover {
  cursor: pointer;
}
