nav {
  background: rgba(0, 0, 0, 0.6); /* Dark semi-transparent background */
  backdrop-filter: blur(10px); /* Glass effect */
  -webkit-backdrop-filter: blur(10px); /* Glass effect for Safari */
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Stronger shadow for separation */
}

ul {
  list-style: none;
  display: flex;
  gap: 50px;
  font-size: 1em;
  padding: 0;
  margin-right: 50px;
}

li {
  display: flex;
  align-items: center;
}

li a {
  text-decoration: none; /* Remove text decoration */
  color: #ffffff; /* White text for contrast */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

li a:hover {
  color: #00bcd4; /* Highlight color on hover */
}

html {
  scroll-behavior: smooth;
}
